  @import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap');

  body {
    overflow-x: hidden;
  }

  nav {
    position: absolute;
    right: 290px;
  }

  img.rithiklogo {
    position: relative;
    left: 530px;
    top: -460px
  }

  a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    text-decoration: none;
    color: black;
  }

  a#git {
    left: 15rem;
    ;
    top: -4.5rem;
  }

  a#link {
    left: 12.60rem;
    top: -5.666rem;
  }

  nav a:hover {
    color: rgb(43, 162, 236);
    transition: 0.3s;
  }

  #link:hover {
    fill: #0A66C2;
    transition: 0.3s;
  }

  #git:hover {
    fill: #4d0096;
    transition: 0.3s;
  }

  #mail:hover {
    fill: #15a5ee;
    transition: 0.3s;

  }

  #blackbor {
    color: black;
    /*To give the mail icon black border*/
  }

  #image {
    position: absolute;
    height: 601px;
    width: 530px;
    top: 0px;
    padding-left: 0px;
    left: -10px;
  }

  .myself-cont p {
    position: absolute;
    right: 80px;
    width: 450px;
    top: 50px;
  }

  svg {
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;


  }

  .container {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    top: 135px;
    display: block;
    position: relative;
    border: solid 3px black;
    padding: 20px 50px;
    max-width: 500px;
    width: 70%;
    margin: 90px 600px 0;
    font-size: 19px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.10s ease-in;
    left: -40px;
    font-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif;
  }


  .container:hover {
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  }

  .container:hover .border {
    transform: translateY(4px) rotate(-5deg);
  }

  .border {
    position: absolute;
    transition: all 0.13s ease-in;
  }

  .border:before,
  .border:after {
    color: #515d9c;
    font-size: 15px;
    position: absolute;
  }

  .tl {
    position: absolute;
    left: -50px;
    top: -63px;
    font-weight: 600;
  }

  .tl:before {
    left: 120px;
    top: 30px;
  }

  .tl:after {
    left: 0px;
    top: 80px;
  }

  .tr {
    right: -50px;
    top: -63px;
    font-weight: 600;
  }

  .tr:before {
    left: 0;
    top: 30px;
  }

  .tr:after {
    left: 130px;
    top: 80px;
  }

  .bl {
    left: -50px;
    bottom: -71px;
    font-weight: 600;
  }

  .bl:before {
    left: 120px;
    top: -30px;
  }

  .bl:after {
    left: 0px;
    top: -90px;
  }

  .br {
    right: -50px;
    bottom: -63px;
    font-weight: 600;
  }

  .br:before {
    left: 0;
    top: -30px;
  }

  .br:after {
    right: -10px;
    top: -80px;
  }

  /*====================================== Bounce Animation =======================================*/

  @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap');

  #box {
    display: flex;
    position: absolute;
    top: 290px;
    left: 35vw;
    font-size: 15px;

    /* border: 2px solid red; */
  }

  #box-2 {
    display: flex;
    position: absolute;
    top: 290px;
    left: 35vw;

    font-size: 15px;
    margin: 4px;
  }

  .alpha {
    color: black;
    font-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif;
    margin: 4px;
  }

  .alpha.animated {
    color: rgb(7, 155, 185);
    animation: ani 0.7s ease-in-out 1;
  }

  @keyframes ani {
    0% {
      transform: scale(1.2, 0.5);
    }

    16% {
      transform: scale(1.2, 0.5);
    }

    25% {
      transform: scale(1.2, 0.5);
    }

    32% {
      transform: scale(0.8, 1.1);
    }

    48% {
      transform: scale(0.95, 1);
    }

    64% {
      transform: scale(0.8, 1.2);
    }

    80% {
      transform: scale(1.15, 1);
    }

    87% {
      transform: scale(1.15, 1);
    }

    90% {
      /* This will add the shaking effect one time almost at the end   */
      transform: scale(0.8, 1);
    }

    95% {
      transform: scale(1.05, 1);
    }

    100% {
      transform: scale(1, 1);
    }
  }

  /*====================================== Bounce Animation =======================================*/

  /*======================================Aloha! Animation=======================================*/

  .tracking-in-expand-fwd {
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

  }

  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px);
      opacity: 0;
    }

    40% {
      opacity: 0.6;
    }

    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }

  /*====================================== Aloha!Animation =======================================*/

  /*====================================== Image Animation =======================================*/



  /*====================================== Image Animation =======================================*/

  /*====================================== I am Rithik Animation =======================================*/
  #box-2 {
    animation: box-2 1.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.7s both;
  }


  @keyframes box-2 {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }

    40% {
      opacity: 0.6;
    }

    100% {
      opacity: 1;
    }
  }

  /*====================================== I am Rithik Animation =======================================*/

  /*====================================== Scroll Bar =======================================*/

  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: hsl(0 100% 100% /1);
    border-radius: 100vw;
    margin-block: 0em;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(0 0% 50% /1);
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(0 0% 60% /1);
    border-radius: 100vw;
  }

  /*====================================== style3 =======================================*/

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

  .box {
    position: absolute;
    top: 208rem;
    left: 20rem;
    transform: translate(-50%, -50%);
    width: 23rem;
    padding: 3rem;
    border: 2px solid black;
    border-radius: 1rem;;
  }

  .box h2 {
    margin: 0px 0 -0.125rem;
    padding: 0;
    text-align: center;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
  }

  .box .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -70px;
    margin-left: 10px;
  }

  .box h1 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 24px;
    text-align: center;
  }

  .box .inputBox {
    position: relative;
  }

  .box .inputBox input {
    width: 75%;
    padding: 1rem 35px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    background: transparent;
    border-radius: 4px;
  }

  .box .inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #000000;
    pointer-events: none;
    transition: 0.5s;
  }

  .box .inputBox input:focus~label,
  .box .inputBox input:valid~label,
  .box .inputBox input:not([value=""])~label {
    top: -1.125rem;
    left: 10px;
    color: #000000;
    font-size: 0.75rem;
    background-color: #fff;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .box .inputBox input:focus {
    outline: none;
    border: 2px solid #000000;
  }

  .box input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    float: right;
  }

  .box input[type="submit"]:hover {
    background-color: #000000;
    box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
  }

  textarea {
    width: 350px;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .sbut {
    background-color: #000000;
    color: #fff;
  }

  .svg-animation {
    top: 980px;
    width: 900px;
    padding: 2px;
    height: 900px;
    position: absolute;
    left: -90px;
  }

  .svg-animation svg {
    width: 80%;
    height: 100%;
    top:6rem;
  }

  .svg-animation2 {
    top: 2300px;
    width: 1100px;
    padding: 2px;
    height: 1100px;
    position: absolute;
    left: 490px;
  }

  .svg-animation2 svg {
    width: 80%;
    height: 100%;
    top:12.1rem;
  }

  .svg-animation3 {
    top: 137rem;
    width: 400px;
    padding: 2px;
    height: 520px;
    position: absolute;
    left: 130px;
  }

  .svg-animation3 svg {
    width: 80%;
    height: 100%;
  }

  .svg-animation4 {
    top: 35rem;
    width: 50rem;
    padding: 2px;
    height: 50rem;
    position: absolute;
    left: -15px;

  }

  .svg-animation4 svg {
    width: 80%;
    height: 100%;
  }

  #head {
    animation: rotate 0.9s infinite alternate;
  }

  @keyframes rotate {
    0% {
      transform: translateX(9px);
    }

    25% {
      transform: translateX(-10px);
    }

    50% {
      transform: translateX(2px);
    }

    75% {
      transform: translateX(2px);
    }

    100% {
      transform: translateX(-2px);
    }
  }


  #right-steam {
    animation: 3s moveup ease infinite;
  }


  #let-steam {
    animation: 2s moveup1 ease infinite;
  }

  @keyframes moveup {
    from {
      transform: translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY(-20px);
      opacity: 1;
    }
  }

  @keyframes moveup1 {
    from {
      transform: translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY(-30px);
      opacity: 1;
    }
  }

  #down-arrow {
    animation: 2s movedown ease infinite;
  }

  @keyframes movedown {
    from {
      transform: translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY(30px);
      opacity: 1;
    }
  }

  #rightsteam {
    animation: 2s moveup2 infinite;
  }


  #leftsteam {
    animation: 2s moveup3 infinite;
  }

  @keyframes moveup2 {
    from {
      transform: translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY(-20px);
      opacity: 1;
    }
  }

  @keyframes moveup3 {
    from {
      transform: translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY(-30px);
      opacity: 1;
    }
  }

  #Line1 {
    animation: 1s codemoveup1 infinite;
  }

  #Line2 {
    animation: 5s codemoveup2 infinite;
  }

  #Line3 {
    animation: 9s codemoveup3 infinite;
  }

  #Line4 {
    animation: 10s codemoveup4 infinite;
  }

  #Line5 {
    animation: 12s codemoveup5 infinite;
  }

  #Line6 {
    animation: 5s codemoveup6 infinite;
  }

  #Line7 {
    animation: 3s codemoveup7 infinite;
  }

  #Line8 {
    animation: 2s codemoveup8 infinite;
  }

  @keyframes codemoveup1 {
    from {
      transform: translateX(0);
      opacity: 1;
    }

    to {
      transform: translateX(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup2 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup3 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup4 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup5 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup6 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup7 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup8 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  #elFj76Tyagu1 {
    height: 80%;
    width: 50%;
    top: 175rem;
    left: 40rem;
    position: absolute;
  }

  #rocket-moon {
    position: absolute;
    top: 175rem;
    height: 10%;
    width: 20%;
    left: 60rem;
  }

  /*====================================== Styles =======================================*/
  .svg-animation {
    top: 980px;
    width: 900px;
    padding: 2px;
    height: 900px;
    position: absolute;
    left: -90px;
  }

  .svg-animation svg {
    width: 80%;
    height: 100%;

  }

  .svg-animation2 {
    top: 1300px;
    width: 1100px;
    padding: 2px;
    height: 1100px;
    position: absolute;
    left: 490px;
  }

  .svg-animation2 svg {
    width: 80%;
    height: 100%;
  }

  .svg-animation3 {
    top: 149rem;
    width: 400px;
    padding: 2px;
    height: 520px;
    position: absolute;
    left: 130px;
  }

  .svg-animation3 svg {
    width: 80%;
    height: 100%;
  }

  .svg-animation4 {
    top: 35rem;
    width: 50rem;
    padding: 2px;
    height: 50rem;
    position: absolute;
    left: -15px;

  }

  .svg-animation4 svg {
    width: 80%;
    height: 100%;
  }

  #head {
    animation: rotate 0.9s infinite alternate;
  }

  @keyframes rotate {
    0% {
      transform: translateX(9px);
    }

    25% {
      transform: translateX(-10px);
    }

    50% {
      transform: translateX(2px);
    }

    75% {
      transform: translateX(2px);
    }

    100% {
      transform: translateX(-2px);
    }
  }


  #right-steam {
    animation: 3s moveup ease infinite;
  }


  #let-steam {
    animation: 2s moveup1 ease infinite;
  }

  @keyframes moveup {
    from {
      transform: translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY(-20px);
      opacity: 1;
    }
  }

  @keyframes moveup1 {
    from {
      transform: translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY(-30px);
      opacity: 1;
    }
  }

  #down-arrow {
    animation: 2s movedown ease infinite;
  }

  @keyframes movedown {
    from {
      transform: translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY(30px);
      opacity: 1;
    }
  }

  #rightsteam {
    animation: 2s moveup2 infinite;
  }


  #leftsteam {
    animation: 2s moveup3 infinite;
  }

  @keyframes moveup2 {
    from {
      transform: translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY(-20px);
      opacity: 1;
    }
  }

  @keyframes moveup3 {
    from {
      transform: translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY(-30px);
      opacity: 1;
    }
  }

  #Line1 {
    animation: 1s codemoveup1 infinite;
  }

  #Line2 {
    animation: 5s codemoveup2 infinite;
  }

  #Line3 {
    animation: 9s codemoveup3 infinite;
  }

  #Line4 {
    animation: 10s codemoveup4 infinite;
  }

  #Line5 {
    animation: 12s codemoveup5 infinite;
  }

  #Line6 {
    animation: 5s codemoveup6 infinite;
  }

  #Line7 {
    animation: 3s codemoveup7 infinite;
  }

  #Line8 {
    animation: 2s codemoveup8 infinite;
  }

  @keyframes codemoveup1 {
    from {
      transform: translateX(0);
      opacity: 1;
    }

    to {
      transform: translateX(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup2 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup3 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup4 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup5 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup6 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup7 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  @keyframes codemoveup8 {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  #elFj76Tyagu1 {
    height: 80%;
    width: 50%;
    top: 195rem;
    left: 40rem;
    position: absolute;
  }

  #rocket-moon {
    position: absolute;
    top: 195rem;
    height: 10%;
    width: 20%;
    left: 60rem;
  }

  /*====================================== style2 =======================================*/
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  /* Applying CSS to sphere */
  .tagcloud {
    display: inline-block;
    top: 300px;
    left: 160%;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background-size: 100%;
  }

  /* Change color of each text in sphere on hover  */
  .tagcloud--item:hover {
    color: rgb(112, 112, 111);
  }

  .two {
    position: absolute;
    top: -21rem;
    height: 70px;
    width: 490px;
    left: -77px;

  }

  #sound {
    padding: -1rem;
    background-color: transparent;
    display: flex;
    color: #000000;
    font-weight: bolder;
    font-size: 1rem;
  }

  .sound-cloud {
    font-size: 1rem;
    margin: 3px;
    color: #e01212;
  }

  .on-off {
    cursor: pointer;
    margin-left: 2px;
    font-weight: bolder;
    font-size: 1rem;
  }

  #off {
    color: #E30B5C;
  }

  #on {
    display: none;
    color: #294D38;
  }

  #quote {
    font-size: 1.7rem;
    top: 95rem;
    position: absolute;
    left: 595px;
    font-weight: 500;
    font-family: "Times New Roman", "Times", serif;
  }

  #author {
    font-family: 'Georgia', serif;
    font-size: 19px;
    font-style: italic;
    color: #333;
  }

  #resume {
    font-size: 1.7rem;
    margin-top: 94rem;
    position: absolute;
    padding: 5.4rem;
    font-weight: 500;
    font-family: "Times New Roman", "Times", serif;
  }

  .download-resume svg {
    margin-top: 103rem;
    margin-left: 15rem;
    width: 40px;
    height: 60px;
    position: absolute;
  }

  /*magic wall*/
  .fake-magicwall {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 3rem;
    padding-left: 44rem;
    margin-top: -9rem;

  }

  .fake-magicwall ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .fake-magicwall ul li {
    width: 161px;
    height: 160px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .fake-magicwall .magic-wall_item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  }

  .fake-magicwall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .fake-magicwall ul li:hover .magic-wall_item {
    transform: scale(1.14);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.14);
  }

  .fake-magicwall ul li a.colorbox {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/circle.png) no-repeat center;
    opacity: 0;
    transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transform: scale(0.2);
  }

  .fake-magicwall ul li:hover a.colorbox {
    transform: scale(0.6);
    opacity: 1;
  }

  .svg-animation3#certificate-title {
    font-family: Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 10rem;
    margin-top: -2.1rem;
    top: 30rem;
    position: relative;
  }

  #footer {
    background-color: #333333;
    padding: 3.4rem;
    width: 350rem;
    top: 230.6rem;
    position: absolute;
    left: -2rem;
  }

  /*.........................................................*/

  svg.twitter-icon-footer {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 203.6rem;
    left: 33rem;
  }

  svg.linkedin-icon-footer {
    position: absolute;
    height: 2.2rem;
    width: 2rem;
    top: 203.5rem;
    left: 36.4rem;
  }

  svg.instagram-icon-footer {
    position: absolute;
    height: 3.5rem;
    width: 3.4rem;
    top: 202.9rem;
    left: 38.9rem;
  }

  svg.github-icon-footer {
    position: absolute;
    height: 2.1rem;
    width: 2.3rem;
    fill: white;
    top: 203.3rem;
    left: 42.8rem;
  }

  .github:hover #arm {
    transform-origin: bottom right;
    animation: moveArm 1s infinite alternate;
  }

  @keyframes moveArm {
    0% {
      transform: rotate(10deg);
    }

    100% {
      transform: rotate(-10deg);
    }
  }

  .linkedin:hover .linkedin-icon-footer>rect {
    animation: rect-up 0.3s linear infinite;
  }

  @keyframes rect-up {
    50% {
      y: 10px;
      height: 11px;
    }

    0% {
      y: 13px;
      height: 8px;
    }
  }

  .linkedin:hover .linkedin-icon-footer>circle {
    animation: bounce 0.4s linear infinite;
  }

  @keyframes bounce {
    75% {
      cy: 8px;
    }

    50% {
      cy: 4px
    }

    0% {
      cy: 4px
    }
  }


  .st0 {
    fill: none;
    stroke: #EF4649;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }

  .instagram-icon-footer:hover #littleCircle {
    stroke-dasharray: 150;
  }

  .instagram #shutter {
    display: none;
  }

  .instagram-icon-footer:hover #shutter {
    display: block;
    animation: shutter 1s linear infinite;
  }

  .instagram-icon-footer:hover #lens {
    fill: #EF4649;
    animation: lens 1.5s linear infinite;
  }

  @keyframes shutter {

    0%,
    50% {
      stroke-dashoffset: 150;
    }

    75% {
      fill: #EF4649;
      stroke-dashoffset: 0;
      stroke-width: 11;
    }
  }

  @keyframes lens {

    0%,
    75% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .twitter:hover #wing1 {
    transform-origin: center;
    animation: flap 0.4s ease-out infinite alternate;
  }

  .twitter:hover #wing2 {
    transform-origin: center;
    animation: flap 0.4s ease-in infinite alternate;
  }

  @keyframes flap {
    50% {
      transform: scaleX(-1) rotate(-45deg) translate(-40px, -40px);
    }
  }

  #cell {
    color: white;
    position: absolute;
    top: 232rem;
    left:1rem;
  }

  #home {
    position: absolute;
    top: 234.5rem;
    left:0.9rem;
  }
#cell:hover{
  animation: 0.3s vibe infinite;
}
@keyframes vibe{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(20deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(20deg);
  }
  100%{
    transform: rotate(0deg);
  }
}