.svg-animation{
    top:900px;
    width:600px;  
    padding:2px;
    height:900px;
    position:absolute;
}
.svg-animation svg{
    width:80%;
    height:100%;
    
}

#head{
    animation:rotate 0.9s infinite alternate;
}
@keyframes rotate{
    0%{
        transform: translateX(9px);
    }
    25%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(2px); 
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(-2px);
    }
}


#right-steam{
    animation: 1s moveup ease infinite;
}


#let-steam{
    animation: 1s moveup1 ease infinite;
}

@keyframes moveup {
    from {
        transform: translateY(0); opacity: 0;
    }
    to{
        transform: translateY(-20px); opacity: 1;
    }
}

@keyframes moveup1 {
    from {
        transform: translateY(0); opacity: 0;
    }
    to{
        transform: translateY(-30px); opacity: 1;
    }
}



transform orign